@model Model.MedicalFinding

@{
    ViewBag.Title = "Create";
}

<h2>Pregled</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>
            @Html.DisplayFor(model => model.Patient.FirstName)
            @Html.DisplayFor(model => model.Patient.LastName)
        </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @Html.LabelFor(model => model.FindingDesc.Anamnesis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.FindingDesc.Anamnesis, 5, 100, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FindingDesc.Anamnesis, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.FindingDesc.Therapy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="margin: 10px"></div>
                @Html.TextAreaFor(model => model.FindingDesc.Therapy, 5, 100, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FindingDesc.Therapy, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.FindingDesc.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="margin: 10px"></div>
                @Html.TextAreaFor(model => model.FindingDesc.Status, 5, 100, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FindingDesc.Status, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.FindingDesc.Therapy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="margin: 10px"></div>
                @Html.TextAreaFor(model => model.FindingDesc.Therapy, 5, 100, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FindingDesc.Therapy, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.MedicalDiagnosis, "MedicalDiagnosis", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="margin: 10px"></div>
                @Html.DropDownList("MedicalDiagnosis", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MedicalDiagnosis, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Potvrdi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
