@model Model.MedicalFinding

@{
    ViewBag.Title = "Create";
}

<h2>Pregled</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>
            @Html.DisplayFor(model => model.Patient.FirstName)
            @Html.DisplayFor(model => model.Patient.LastName)
        </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @Html.Label("Anamneza", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Anamnesis, 5, 100, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Anamnesis, "", new { @class = "text-danger" })
            </div>

            @Html.Label("Terapija", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="margin: 10px"></div>
                @Html.TextAreaFor(model => model.Therapy, 5, 100, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Therapy, "", new { @class = "text-danger" })
            </div>

            @Html.Label("Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="margin: 10px"></div>
                @Html.TextAreaFor(model => model.Status, 5, 100, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>

            @Html.Label("Opis", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="margin: 10px"></div>
                @Html.TextAreaFor(model => model.Finding, 5, 100, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Finding, "", new { @class = "text-danger" })
            </div>

            @Html.Label("Dijagnoza", "MedicalDiagnosis", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="margin: 10px"></div>
                @Html.DropDownListFor(model => model.MedicalDiagnosis.Id, ViewData["MedicalDiagnosis"] as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MedicalDiagnosis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Potvrdi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
