@model Model.MedicalFinding

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    <h3>@Html.DisplayFor(model => model.Patient.FirstName)
    @Html.DisplayFor(model => model.Patient.LastName)</h3>
    <h4>@Html.DisplayFor(model => model.Patient.DateOfBirth, new { @type = "date", @Value = Model.Patient.DateOfBirth.ToString("yyyy-MM-dd") })</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Datum
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date, new { @type = "date", @Value = Model.Date.ToString("yyyy-MM-dd") })
        </dd>
        <dt>
            Status pacijenta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FindingDesc.Status)
        </dd>
        <dt>
            Anamneza
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FindingDesc.Anamnesis)
        </dd>
        <dt>
            Medicinski nalaz
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FindingDesc.Finding)
        </dd>
        <dt>
            Terapija
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FindingDesc.Therapy)
        </dd>
        <dt>
            Liječnik
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doctor.FirstName)
            @Html.DisplayFor(model => model.Doctor.LastName)
        </dd>
        <dt>
            Dijagnoza
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MedicalDiagnosis.NameHRV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Nazad", "Index")
</p>
