@model IEnumerable<Model.MedicalExamination>

@{
    ViewBag.Title = "Index";
}

<h2>Čekaonica</h2>

<p>
    <div style="float:left">
        @Html.ActionLink("Dodaj novi pregled", "Create", new { doctor_id = User.Identity.Name })
    </div>
    <div style="float:right">
        @Html.ActionLink("Pregledaj statistiku", "Statistics", new { doctor_id = User.Identity.Name },
        new { @style = "align:right;" })
    </div>
</p>

    
<table class="table">
    <tr>
        <th>
            @Html.Label("Vrijeme dolaska")
        </th>
        <th>
            @Html.Label("Tip pregleda")
        </th>
        <th>
            @Html.Label("Pacijent")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExaminationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExaminationType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.FirstName)
            @Html.DisplayFor(modelItem => item.Patient.LastName)
        </td>

        <td>
            @Html.ActionLink("Pregledaj", "Create", "MedicalFindings", new { oib = item.Patient.OIB, examination_id = item.Id }, null)
            &nbsp;          &nbsp;
            @Html.ActionLink("Povijest bolesti", "Index", "MedicalFindings", new { oib = item.Patient.OIB }, null)
        </td>
    </tr>
}

</table>
