@model IEnumerable<Model.MedicalExamination>

@{
    ViewBag.Title = "Index";
}

<h2>Čekaonica</h2>

<p>
    @Html.ActionLink("Dodaj novi pregled", "Create", new {doctor_id = User.Identity.Name })
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Vrijeme dolaska")
        </th>
        <th>
            @Html.Label("Tip pregleda")
        </th>
        <th>
            @Html.Label("Ime")
        </th>
        <th>
            @Html.Label("Prezime")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExaminationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExaminationType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.LastName)
        </td>

        <td>
            @Html.ActionLink("Pregledaj", "Create", "MedicalFindings")
            &nbsp;          &nbsp;
            @Html.ActionLink("Povijest bolesti", "Index", "MedicalFindings")
        </td>
    </tr>
}

</table>
